header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid #111;
  margin-bottom: 1em;
}

.logo {
  width: 50%;
  // border: 2px red solid;
  h1 {
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    margin-top: 0.2em;
  }
}

.logoNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 50%;
  // border: 2px solid green;
  .navLink {
    // letter-spacing: 0.001em;
    font-size: 1rem;
    width: fit-content;
    height: fit-content;
    color: black;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid black;
    // font-weight: bold;
    margin-left: 0.5em;
  }
}

.active {
  font-weight: bold;
  border: transparent;
}
