.asteroid {
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: grid;
  grid-template-columns: 75% 1fr;
  border: 2px rgb(45, 44, 44) solid;
  width: 100%;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 2em;
  -webkit-box-shadow: 5px 5px 13px -3px rgba(0, 0, 0, 0.91);
  box-shadow: 5px 5px 13px -3px rgba(0, 0, 0, 0.91);

  &-inner-1 {
    &-container-1 {
      margin-left: 30%;
      padding: 1em 0;
      width: 50%;
      min-width: 200px;
      height: fit-content;
      &-title {
        border: none;
        margin-bottom: 1rem;
        padding: 0;

        &-link {
          color: rgb(24, 24, 24);
          text-decoration: none;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid black;
        }
      }

      &-item {
        display: flex;
        &-2 {
          flex-grow: 1;
          border-bottom: dotted 1px black;
        }
      }
    }
  }
  &-inner-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-container-1 {
      width: 90%;
      text-align: center;
      display: flex;
      font-size: 1.7vw;
      flex-flow: column nowrap;
      &-isdanger {
        font-weight: bold;
      }
      button {
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 0.5em;
        background: #186dd6;
        color: #fff;
        padding: 0.8em;
        border-radius: 2em;
        font-weight: 500;
        font-size: 0.8rem;
      }
    }
  }
}

.asteroid-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 72%;
  top: 0;
  z-index: -1000;
}
.asteroid-title-danger {
  background: linear-gradient(
    90deg,
    rgba(255, 177, 153, 1) 35%,
    rgba(255, 8, 68, 1) 100%
  );
}

.asteroid-title-safe {
  background: linear-gradient(
    90deg,
    rgba(207, 243, 125, 1) 35%,
    rgba(125, 232, 140, 1) 100%
  );
}

@media only screen and (max-width: 575px) {
  .asteroid {
    display: flex;
    flex-flow: column nowrap;
    &-inner-1 {
      width: 100%;
      &-container-1 {
        padding: 1em 0;
        margin: 0;
        width: 100%;
        height: fit-content;
        &-title {
          border: none;
          margin-bottom: 1rem;
          padding: 0;
          line-height: 2rem;

          &-link {
            color: rgb(24, 24, 24);
            text-decoration: none;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid black;
          }
        }

        &-item {
          display: flex;
          &-2 {
            flex-grow: 1;
            border-bottom: dotted 1px black;
          }
        }
      }
    }
    &-inner-2 {
      &-container-1 {
        font-size: 1rem;
        flex-flow: column nowrap;
        &-isdanger {
          font-weight: bold;
        }
        button {
          font-size: 0.8rem;
          width: 50%;
          margin: 0 auto;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.asteroid-bg-danger {
  background: linear-gradient(
    90deg,
    rgba(255, 177, 153, 1) 35%,
    rgba(255, 8, 68, 1) 100%
  );
}

.asteroid-bg-safe {
  background: linear-gradient(
    90deg,
    rgba(207, 243, 125, 1) 35%,
    rgba(125, 232, 140, 1) 100%
  );
}

.asteroid-img {
  position: absolute;
  z-index: -999;
}

.aster-small {
  width: 10%;
  left: 10%;
  top: 10%;
}

.aster-middle {
  width: 20%;
  left: 5%;
}

.aster-big {
  top: -2em;
  width: 55%;
}

.dino-img {
  position: absolute;
  bottom: 0;
  left: 1em;
  width: 6vw;
}

@media only screen and (max-width: 575px) {
  .asteroid-bg-danger {
    background: none;
  }

  .asteroid-bg-safe {
    background: none;
  }

  .asteroid-img {
    position: absolute;
    z-index: -999;
  }

  .aster-small {
    width: 10%;
    left: 10%;
    top: 10%;
  }

  .aster-middle {
    top: 0;
    left: 5%;
  }

  .aster-big {
    top: 0;
    width: 55%;
  }

  .dino-img {
    top: 13%;
    left: 83%;
    width: 2.5rem;
    transform: scale(-1, 1);
  }
}
