.asteroid-info {
  width: 100%;
  color: rgb(26, 25, 25);
  // border: 2px solid blue;
  background: rgb(212, 211, 212);
  border-radius: 0 0 1.5rem 1.5rem;
  &-bg {
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 20vh;
    // border: 2px solid yellowgreen;
    background: linear-gradient(
      90deg,
      rgba(207, 243, 125, 1) 35%,
      rgba(255, 8, 68, 1) 100%
    );
    img {
      position: absolute;
    }
    &-small {
      top: -2em;
      right: 0;
    }
    &-middle {
      top: -5em;
      left: 0;
    }
    &-middle2 {
      bottom: -4em;
      right: 35%;
      transform: scale(1, -1) rotate(20deg);
    }
  }
  &-details {
    // border: 2px solid rgba(255, 8, 68, 1);
    margin: 1rem auto;
    width: 90%;
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 1em;
    font-size: 0.8rem;
    &-title {
      text-shadow: 2px 1px 3px #373838;
      font-size: 1.3rem;
      text-align: center;
      text-transform: uppercase;
    }

    @media only screen and (max-width: 575px) {
      &-title {
        // font-size: 4vw;
        padding-bottom: 1rem;
      }
    }

    &-line {
      display: flex;
      // border: 2px solid fuchsia;
      & > * {
        // border: 2px salmon solid;
      }
      &-space {
        flex-grow: 1;
        border-bottom: 1px dotted black;
      }
    }
  }
}
